**/results/
**/.vscode/
**/.git
**/.gitmodules
**/.studiorc
**/plan.sh
**/test/
**/*.test.js
/.github/
/.holo/
/docs/
/github-actions
/script/
/studio/
.bldr.toml
.eslintrc.json
jsconfig.json
*.md
mkdocs.yml
!README.md
