name: 'PR: Test'

on: pull_request

jobs:
  test-cli:

    runs-on: ubuntu-latest
    steps:

      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - uses: actions/checkout@v4

      - run: npm install

      - name: 'Test projection: github-action-projector'
        run: node bin/cli.js project --no-cache-from --cache-to=origin github-action-projector

      - name: 'Test projection: docs-site'
        run: node bin/cli.js project --no-cache-from --cache-to=origin docs-site

  test-action:

    runs-on: ubuntu-latest
    steps:

      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - uses: actions/checkout@v4

      - run: npm install
        working-directory: github-actions/projector

      - name: 'Test projection action: github-action-projector'
        uses: ./github-actions/projector/
        with:
          holobranch: github-action-projector


      - name: 'Test projection action: docs-site'
        uses: ./github-actions/projector/
        with:
          holobranch: docs-site