name: Publish Actions to v1 stream

on:
  push:
    tags: [ 'v*' ]


jobs:
  publish-actions-v1:
    runs-on: ubuntu-latest
    steps:
    - name: 'Update holobranch: actions/projector/v1'
      uses: ./github-actions/projector/
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        HAB_LICENSE: accept
      with:
        ref: master
        holobranch: github-action-projector
        commit-to: actions/projector/v1
